<div class="container">
  <div class="d-flex flex-column justify-content-center vh-100 align-items-center gap-2">
    <h1>Wellcome to Data Table</h1>
    <p class="text-center">
      An interactive Angular web application that displays users' data in a dynamic table with
      pagination, row selection, and a detailed view. It allows users to edit user information
      through a modal dialog and instantly updates the UI without reloading the page.
    </p>
    <button class="btn btn-dark" routerLink="get-data">Show table</button>
  </div>
</div>
